/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.serif {
    font-family: 'Fauna One', serif;
    font-size: 0.8em;
    line-height: 1.6em;
}