body {
    margin: 0;
    padding: 0;
    background-color: #2266cc;
    font-family: 'Lato', sans-serif;
}

.container {
    position: absolute;
    width: 80vw;
    left: 10vw;
    top: 20vh;
    text-align: center;
    color: #fff;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 110vh;
}
