svg {
    background: linear-gradient(to bottom, lighten(#54dbdc, 3%) 10vh, darken(#1d0444, 3%) 90vh);
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    min-width: 1000px;
    min-height: 800px;
}