<div class="container">
    <img class="logo" src="/assets/st-blue-dot.png" />
    <h3>Stephenco is Stephen Terhune.</h3>
    <p>I make digital things for a living. <a routerLink="/resume">Since 1999</a>.</p>
</div>
