.logo {
    width: 15vw;
    border-color: #eee;
    border-width: 0.5vw;
    border-style: solid;
    border-radius: 50%;
    margin-bottom: 5vh;
}

h3 {
    font-size: 1.4em;
    margin-bottom: 0;
}

a {
    color: #fff;
    text-decoration: none;

    &:hover {
        border-bottom: 1px dashed #fff;
    }
}