<div class="container">
    <div class="header">
        <div style="text-align:center;">
            <h1>{{ resume.contents.name }}</h1>
            <p>{{ resume.contents.email }} :: {{ resume.contents.location }}</p>
            <a routerLink="/"><img width="30%" [src]="resume.contents.logoPath"/></a>
        </div>
        <ul>
            <li *ngFor="let comment of resume.contents.abstract">
              {{ comment.mainText }}
              <small *ngIf="comment.smallText">{{ comment.smallText }}</small>
            </li>
        </ul>
    </div>
    <div class="job-container">
        <div *ngFor="let job of resume.contents.jobs" class="job">
            <h2>
              {{ job.companyName }}
              <small>&mdash; <app-jobdate [jobDate]="job.startDate"></app-jobdate>
                - <app-jobdate [jobDate]="job.endDate"></app-jobdate></small>
            </h2>
            <p>
              {{ job.jobTitle }} in {{ job.location }}
              ({{ job.fullTime }})
            </p>
            <blockquote class="serif">{{ job.description }}</blockquote>
            <blockquote>{{ job.languages }}</blockquote>
        </div>
    </div>
    <div class="footer">
        <div class="job-container">
            <ul *ngFor="let group of resume.contents.footers">
                <li *ngFor="let comment of group">{{ comment.mainText }}</li>
            </ul>
        </div>
    </div>
    <p style="opacity: 0.6;"><small>:: 2021 Stephen Terhune :: I'm a real person who appreciates other real people over algorithms. Don't be an algorithm. ::</small></p>
</div>
