.container {
    text-align: left;
    margin-top: -20vh;
}

.header {
    background: linear-gradient(#fff, #ffffffaa 60%, #fff);
    margin: 0 -20vw;
    padding: 3em 20vw 0;
    padding-bottom: 1px;
    margin-bottom: 3em;
    border-top: 3px solid #006ca6;
    border-bottom: 2px solid #052c6d;
    color: #000;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));

    h1 {
        font-size: 2.85em;
        font-weight: bold;
    }

    p {
        color: #a07f60;
        margin-top: -1em;
        margin-bottom: 3em;
    }

    img {
        margin-bottom: 3em;
    }
}

.footer {
    background: linear-gradient(#fff, #ffffffdd);
    margin: 0 -20vw;
    margin-top: 3em;
    padding: 0 20vw;
    padding-top: 1px;
    padding-bottom: 1vh;
    border-top: 3px solid #052c6d;
    color: #000;
    margin-bottom: 3em;
}

ul {
    background: linear-gradient(#006ca6, #052c6d);
    padding: 1em 3em 2em 3em;
    border-radius: .4em;
    color: #fff;

    li {
        margin: 1em 0;

        line-height: 1.5em;
        margin-bottom: .5em;

        &:nth-child(1) {
            zoom:1.3;
            font-weight: bold;
        }

        small {
            display: block;
            background: #ffffff11;
            border-radius: .5em;
            padding: 0 1em;
            margin: .5em 0 0 0;
            border-bottom: 1px solid #ffffff33;
        }
    }
}

.job-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
    column-gap: 1em;
    row-gap: 1em;
}

.job {
    background: linear-gradient(#ffffff22, #ffffff00 15%);
    border: 1px solid #ffffff66;
    padding: 2em 3em;
    border-radius: .4em;
    transition: .7s;

    blockquote {
        display: none;
    }

    h2 {
      small {
        font-size: .8em;
        opacity: .7;
        font-weight: 100;
      }
    }

    &:hover {
        font-size: 1.03em;
        background: #ffffffdd;
        color: #003a7b;
        transition: .3s;

        h2 {
            color: #857465;

            small {
              opacity: .9;
            }
        }

        p {
            color: #a07f60;
        }

        blockquote {
            display: block;
            margin: 1em 0;
        }
    }
}
